.steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
    position: relative;
    margin-top: 1vh;
  }
  
  /* Line */
  .steps::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ddd;
    transform: translateY(-50%);
    z-index: 0;
  }
  
  .step {
    position: relative;
    z-index: 1;
  }
  
  /* Circles */
  .circle {
    width: 40px;
    height: 40px;
    background: white;
    border: 3px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #666;
  }
  
  /* Active Step */
  .step.active .circle {
    background: #1e73ff;
    border-color: #1e73ff;
    color: white;
  }
  

